@import "Variables";

nav   {
    background-color: dodgerblue;//lightcyan;
    height: 100%;
    overflow: auto;
}

.logo-container {
    margin-bottom: 32px;

    img {
        width: 32px;
        height: 32px;
        margin-right: 16px;
    }
}

.nav-link   {
    display: block;
    text-align: left;
    color: lightcyan !important;
    border-radius: $border-radius;
    transition: $transition-secs !important;

    &:hover   {
        background-color: rgba(white, 0.1);
        color: mediumblue !important;
    }
}

.active   {
    background-color: rgba(white, 0.1);
    color: mediumblue !important;
    font-weight: bold;
}