@import "Variables";

nav   {
    background-color: ghostwhite;
    height: 100%;
    overflow: auto;
}

.logo-container {
    margin-bottom: 16px;

    img {
        width: 32px;
        height: 32px;
        margin-right: 16px;
    }
}

.site-category  {
    color: $gray-6;
    font-variant: small-caps;
}

.nav-link   {
    display: block;
    text-align: left;
    color: $gray-primary !important;
    border-radius: $border-radius;
    transition: $transition-secs !important;

    &:hover   {
        background-color: $gray-EF;
        color: $blue !important;
    }
}

.active   {
    background-color: $gray-EF;
    color: $blue !important;
    font-weight: bold;
}

button  {
    background-color: transparent;
    border: none;
}

.new-jobs-count-pill    {
    background-color: tomato;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: $border-radius-circle;
}