@import "Variables";

main    {
    background-color: white;

    header {
    padding-top: 16px;
    padding-bottom: 24px;
    }
}

.table th   {
    font-variant: small-caps;
    color: cornflowerblue;
    padding: 0px 12px 4px 12px;
}

.table tr {
    transition: $transition-secs;
    border-bottom: 1px solid #DDD;

    td  {
        padding: 12px !important;
        transition: $transition-secs;

        a {
            transition: $transition-secs;
            color: dodgerblue !important;
            text-decoration: none;
        }
    }
}

.table tr:hover, .table tr.selected {
    border-radius: $border-radius !important;

    td {
        background: rgba($gray-EF, 0.5);//rgba(paleturquoise, 0.65) !important;

        a {
            color: navy !important;
            font-weight: bold;
        }
    }
}

.table tr.new  {
    font-weight: bold;
} 

.table td.job-status span  {
    padding: 4px 8px;
    border-radius: $border-radius;
    font-size: 0.8em;
    font-weight: bold;
}

.table td.days-old  {
    color: darkred;
}

.table td.within-week  {
    color: mediumseagreen;
}

.table td.within-month {
    color: darkorange;
}

.table tr.new td.job-status span  {
    color: $job-status-new-pill-color;
    background-color: rgba($job-status-new-pill-color, $job-status-pill-background-opacity);
}

.table tr.applied td.job-status span  {
    color: $job-status-applied-pill-color;
    background-color: rgba($job-status-applied-pill-color, $job-status-pill-background-opacity);
}

.table tr.not-applied td.job-status span  {
    color: $job-status-not-applied-pill-color;
    background-color: rgba($job-status-not-applied-pill-color, $job-status-pill-background-opacity);
}