// Colors
$gray-primary: #343434;
$gray-6: #666;
$gray-A: #AAA;
$gray-C: #CCC;
$gray-D: #DDD;
$gray-EF: #EFEFEF;

$blue: dodgerblue;
$lime: #B5E61D;
$lime-dark: #92bd10;
$limegreen: limegreen;

// All
$border-radius: 4px;
$border-radius-page: 16px;
$transition-secs: 0.4s;

// Job status pills
$job-status-new-pill-color: mediumseagreen;
$job-status-applied-pill-color: dodgerblue;
$job-status-not-applied-pill-color: darkorange;
$job-status-hover-new-pill-color: rgb(61, 156, 104);
$job-status-hover-applied-pill-color: rgb(44, 127, 209);
$job-status-hover-not-applied-pill-color: rgb(182, 109, 21);
$job-status-pill-background-opacity: 0.15;
$job-status-pill-hover-background-opacity: 0.30;