// Colors
$gray-8: #666;
$gray-EF: #EFEFEF;

// All
$border-radius: 4px;
$border-radius-page: 16px;
$transition-secs: 0.4s;

// Job status pills
$job-status-new-pill-color: mediumseagreen;
$job-status-applied-pill-color: dodgerblue;
$job-status-not-applied-pill-color: darkorange;
$job-status-pill-background-opacity: 0.15;